{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>Utilisateurs : </h1>

    {% include 'components/table/_table.html.twig' with {
        items: users,
        columns: ['username', 'email','rolesLabel'],
        headers: ['Nom', 'Email','Type de license'],
        filter: true,
        sort: true,
        add: {route: 'app_user_new'},
        actions: [
            {
                route: 'app_user_show',
                param_map: { id: 'id' },
                icon: 'bi-eye',
                label: 'Voir',
            },
            {
                route: 'app_user_edit',
                param_map: { id: 'id' },
                icon: 'bi-pencil',
                label: 'Éditer',
            },
            {
                route: 'app_user_delete',
                param_map: { id: 'id' },
                icon: 'bi-trash',
                label: 'Supprimer',
            }
        ]
    } %}
{% endblock %}
