{% extends 'base.html.twig' %}

{% block title %}Edit Account{% endblock %}

{% block body %}
    <h2>Modifier le compte</h2>

    {{ include('account/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
