{% extends 'base.html.twig' %}

{% block title %}Edit Account{% endblock %}

{% block body %}
    <h1>Modifier le compte</h1>

    {{ include('account/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
