{% extends 'base.html.twig' %}

{% block title %}Compte{% endblock %}

{% block body %}
    <h1>Compte</h1>

    {% include 'components/table/_table_show.html.twig' with {
        object: account,
        fields: [
            { label: 'Nom', property: 'name' },
            { label: 'Description', property: 'description' },
        ]
    } %}
    <h4>Contacts</h4>
    {% include 'components/table/_table.html.twig' with {
        items: account.contacts,
        columns: ['name', 'function', 'email'],
        headers: ['Nom', 'Fonction', 'Email'],
        filter: false,
        sort: false,
    } %}

    {% include 'components/button/_btn_bar.html.twig' with {
        buttons: {
            back: {
                type: 'link',
                route: 'app_account_index',
                icon: 'bi-arrow-left',
                label: 'Retour',
                class: 'btn btn-outline-primary btn-sm'
            }
        }
    } %}
{% endblock %}
