{% extends 'base.html.twig' %}

{% block title %}Edit FlexCapture{% endblock %}

{% block body %}
    <h1>Edit FlexCapture</h1>

    {{ include('capture/flex_capture_element/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
