<fieldset class="mb-3 field-entry form-container mt-3 p-2 position-relative border rounded">
    <div class="row align-items-stretch">
        <!-- TEXTAREA -->
        <div class="col-md-6 d-flex flex-column h-100">
            {{ form_row(form.externalLabel, {
                attr: {
                    rows: 4,
                    style: 'flex: 1 1 auto; height: 100%;'
                }
            }) }}
        </div>

        <!-- CHAMPS DROITE -->
        <div class="col-md-5 d-flex flex-column justify-content-between">
            <div class="row my-0">
                <div class="col-md-8">
                    {{ form_row(form.type) }}
                </div>
                <div class="col-md-4 d-flex align-items-center pt-2">
                    {{ form_widget(form.required) }}
                </div>
            </div>

            <div class="mt-auto">
                {{ form_row(form.internalLabel) }}
            </div>
        </div>

        <!-- TRASH -->
        <div class="col-md-1">
            <button type="button"
                    class="btn btn-outline-danger btn-sm position-absolute top-0 end-0 m-2"
                    data-action="click->capture-element#remove"
                    title="Supprimer ce champ">
                <i class="bi bi-trash"></i>
            </button>
        </div>
    </div>
</fieldset>
