{% extends 'base.html.twig' %}

{% block title %}CaptureElement index{% endblock %}

{% block body %}
    <h1>CaptureElement index</h1>

    <table class="table">
        <tbody>
        {% for el in capture_elements %}
            <tr>
                <td>{{ el.name }}</td>
                <td>{{ el.description }}</td>
                <td class="text-end">
                    {% if capture_id %}
                        <a href="{{ path('app_capture_attach_element', { captureId: capture_id, id: el.id }) }}"
                           class="btn btn-outline-primary btn-sm">
                            Sélectionner
                        </a>

                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if capture_id %}
        <a href="{{ path('app_capture_edit', { id: capture_id }) }}"
           class="btn btn-outline-primary btn-sm">Retour</a>
    {% endif %}


{% endblock %}
