{% extends 'base.html.twig' %}

{% block title %}CaptureElement index{% endblock %}

{% block body %}
    <h1>CaptureElement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for capture_element in capture_elements %}
            <tr>
                <td>{{ capture_element.id }}</td>
                <td>{{ capture_element.name }}</td>
                <td>{{ capture_element.description }}</td>
                <td>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
