{{ form_start(form) }}

    {{ include('capture/capture_element/_form_base.html.twig') }}

{% include 'components/button/_btn_bar.html.twig' with {
    buttons: {
        preview: {
            type: 'link',
            route: 'app_capture_element_preview',
            param_map: { id: 'element.id' },
            icon: 'bi-eye',
            label: 'Aperçu',
            class: 'btn btn-outline-primary btn-sm'
        },
        edit_render: {
            type: 'link',
            route: 'app_capture_element_render_text_edit',
            param_map: { id: 'element.id' },
            icon: 'bi-pencil',
            label: 'Editer le rendu',
            class: 'btn btn-outline-primary btn-sm'
        },
        btn: {
            type: 'link',
            label: 'Retour',
            icon: 'bi-arrow-left',
            route: 'app_capture_template_edit',
            param_map: { id: 'captureId' },
            class: 'btn btn-outline-primary'
        },
        save: {
            type: 'submit',
            icon: 'bi-check',
            label: 'Enregistrer',
            class: 'btn btn-primary btn-sm'
        },
    }
} %}


{% set prototype %}
    {% include 'capture/field/_field_template_prototype.html.twig' with { form: form.fields.vars.prototype } %}
{% endset %}
<div class="row p-3 " data-controller="capture-element">
        <div data-prototype="{{ prototype|e('html_attr') }}">
        {% for fieldForm in form.fields %}
            {% include 'capture/field/_field_template_prototype.html.twig' with { form: fieldForm } %}
        {% endfor %}
        </div>
</div>


{{ form_end(form) }}
