{{ form_start(form) }}
    {{ form_row(form.name) }}
<div class="d-flex justify-content-end align-items-start gap-2 mt-4">
    {% include 'components/button/_btn.html.twig' with {
        btn: {
            type: 'link',
            label: 'Retour',
            icon: 'bi-arrow-left',
            route: 'app_tenant_index',
            class: 'btn btn-outline-primary'
        }
    } %}

    {% include 'components/button/_btn.html.twig' with {
        btn: {
            type: 'submit',
            label: 'Enregistrer',
            icon: 'bi-check',
            class: 'btn btn-primary'
        }
    } %}
</div>
{{ form_end(form) }}
