{% extends 'base.html.twig' %}

{% block title %}New RenderingConfig{% endblock %}

{% block body %}
    <h1>Create new RenderingConfig</h1>

    {{ include('rendering_config/_form.html.twig') }}

    <a href="{{ path('app_rendering_config_index') }}">back to list</a>
{% endblock %}
