{% extends 'base.html.twig' %}

{% block title %}New FlexCapture{% endblock %}

{% block body %}
    <h1>Create new FlexCapture</h1>

    {{ include('flex_capture_element/_form.html.twig') }}

{% endblock %}
