{% extends 'base.html.twig' %}

{% block title %}Editer la Capture{% endblock %}

{% block body %}
    <h1>Editer la capture</h1>

    {{ include('capture/capture_template/_form.html.twig') }}

{% endblock %}
