{% extends 'base.html.twig' %}

{% block title %}Capture index{% endblock %}

{% block body %}
    <h1>Mes templates de captures</h1>

    {% include 'components/table/_table.html.twig' with {
        items: captures,
        columns: ['name', 'description','template'],
        headers: ['Nom', 'Description', 'Template'],
        filter: true,
        sort: true,
        add: {route: 'app_capture_template_new'},
        actions: [
            {
                route: 'app_capture_template_show',
                param_map: { id: 'id' },
                icon: 'bi-eye',
                label: 'Voir',
            },
            {
                route: 'app_capture_template_edit',
                param_map: { id: 'id' },
                icon: 'bi-pencil',
                label: 'Éditer',
            },
            {
                route: 'app_capture_template_delete',
                param_map: { id: 'id' },
                icon: 'bi-trash',
                label: 'Supprimer',
            }
        ]
    } %}
{% endblock %}
