{% extends 'base.html.twig' %}

{% block title %}Aperçu{% endblock %}

{% block body %}

    <div class="doc-container">
        <div class="doc-page">
            {# Title #}
            {% include 'capture/rendering/_title_render.html.twig' with { title: capture.title } only %}

            {# Chapter #}
            {% for element in capture.captureElements %}

                {# Conditions qui ont pour targetElement cet élément #}
                {% set elementConditions = (capture.conditions ?? [])
                    | filter(c => (c.targetElement is same as(element))
                    or (c.targetElement is defined and c.targetElement.id is defined and c.targetElement.id == element.id))
                %}

                {% if elementConditions|length %}
                    <div class="mb-0 mt-2">
                        {% for condition in elementConditions %}
                            <div class="doc-condition">{{ condition }}</div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if element.chapter is not null and element.chapter.title is not null %}
                    {% include 'capture/rendering/_title_render.html.twig' with { title: element.chapter.title } only %}
                {% else %}
                    {% include 'capture/rendering/_title_render.html.twig' with { title: null } only %}
                {% endif %}
                <div class="doc-paragraph">
                    {{ element.chapter is not null and element.chapter.templateContent is not null
                    ? element.chapter.templateContent
                    : '' }}
                </div>

            {% endfor %}
        </div>
    </div>



    {% include 'components/button/_btn_bar.html.twig' with {
        buttons: {
            back: {
                type: 'nav-back',
                icon: 'bi-arrow-left',
                label: 'Retour',
                class: 'btn btn-outline-primary btn-sm'
            },
        }
    } %}


{% endblock %}
