{% extends 'base.html.twig' %}

{% block title %}Capture index{% endblock %}

{% block body %}
    <h1>Capture index</h1>

    {% include 'components/table/_table.html.twig' with {
        items: captures,
        columns: ['name', 'description'],
        headers: ['Nom', 'Description'],
        filter: true,
        sort: true,
        actions: [
            {
                route: 'app_capture_clone',
                param_map: { id: 'id' },
                icon: 'bi-arrow-right-circle',
                label: 'Sélectionner',
            }
        ]
    } %}

    <div class="d-flex justify-content-end align-items-start gap-2 mt-4">
        {% include 'components/button/_btn.html.twig' with {
            btn: {
                type: 'link',
                label: 'Retour',
                icon: 'bi-arrow-left',
                route: 'app_capture_index',
                class: 'btn btn-outline-primary'
            }
        } %}

    </div>


{% endblock %}
