<div>
    <div class="input-group">
        <select class="form-select" data-fields-ajax-target="typeSelect">
        {% for item in dragTypes %}
                <option value="{{ item.key }}">{{ item.label }}</option>
            {% endfor %}
        </select>
        <button type="button"
                class="btn btn-primary"
                data-action="click->fields-ajax#addFromSelect"
                aria-label="Ajouter un champ">
            <i class="bi bi-plus"></i>
            Ajouter
        </button>
    </div>
</div>



