{{ form_start(form) }}

{{ include('capture_element/_form_header.html.twig') }}

{% include 'global/components/button/_btn_bar.html.twig' with {
    buttons: {
        back: {
            type: 'link',
            route: 'app_flex_capture_index',
            icon: 'bi-arrow-left',
            label: 'Retour',
            class: 'btn btn-outline-primary btn-sm'
        },
        save: {
            type: 'submit',
            icon: 'bi-check',
            label: 'Enregistrer',
            class: 'btn btn-primary btn-sm'
        },
    }
} %}

<div data-controller="field-modal"
     data-field-modal-url-value="{{ path('app_flex_capture_field_create', { id: flex_capture.id }) }}">
    <button type="button"
            class="btn btn-outline-primary btn-sm"
            data-action="field-modal#open">
        Ajouter un champ
    </button>

    <div class="modal fade" id="fieldModal" tabindex="-1" aria-hidden="true"
         data-field-modal-target="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Créer un champ</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body" data-field-modal-target="modalBody">
                    <!-- Formulaire chargé ici -->
                </div>
            </div>
        </div>
    </div>
</div>

{{ form_end(form) }}



