{% extends 'base.html.twig' %}

{% block title %}FlexCapture index{% endblock %}

{% block body %}
    <h1>FlexCapture index</h1>

    {% include 'global/components/table/_table.html.twig' with {
        items: flex_captures,
        columns: ['name', 'description'],
        headers: ['Nom', 'Description'],
        filter: true,
        sort: true,
        actions: {
            show:  {
                route: 'app_flex_capture_show',
                param_map: { id: 'id' }
            },
            edit:  {
                route: 'app_flex_capture_edit',
                param_map: { id: 'id' }
            },
            delete: {
                route: 'app_flex_capture_delete',
                param_map: { id: 'id' }
            },
            add: {route: 'app_flex_capture_new'}
        }
    } %}


{% endblock %}
