{% extends 'base.html.twig' %}

{% block title %}FlexCapture{% endblock %}

{% block body %}
    <h1>FlexCapture</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ flex_capture.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_flex_capture_index') }}">back to list</a>

    <a href="{{ path('app_flex_capture_edit', {'id': flex_capture.id}) }}">edit</a>

    {{ include('flex_capture/_delete_form.html.twig') }}
{% endblock %}
