{% extends 'base.html.twig' %}

{% block title %}FlexCapture{% endblock %}

{% block body %}
    <h1>FlexCapture</h1>

    {% include 'global/components/table/_table_show.html.twig' with {
        object: flex_capture,
        fields: [
            { label: 'Nom', field: 'name' },
            { label: 'Description', field: 'description' },
            { label: 'Répondant', field: 'respondent.name' },
            { label: 'Responsable', field: 'responsible.name' },
            { label: 'Valideur', field: 'validator.name' },
        ]
    } %}

    {% include 'global/components/button/_btn_bar.html.twig' with {
        buttons: {
            back: {
                type: 'link',
                route: 'app_flex_capture_index',
                icon: 'bi-arrow-left',
                label: 'Retour',
                class: 'btn btn-outline-primary btn-sm'
            }
        }
    } %}
{% endblock %}
