<div class="position-fixed top-10 end-0 p-3" style="z-index:1080; width:600px;">
    {% if messages is not defined %}
        {% set messages = app.flashes %}
    {% endif %}

    {% for label, items in messages %}
        {% set icon = {
            'success': 'bi-check-lg',
            'danger': 'bi-x-lg',
            'warning': 'bi-exclamation-lg',
            'info': 'bi-info-lg'
        }[label] ?? 'bi-info-lg' %}

        {% for message in items %}
            <div
                class="alert alert-{{ label }} alert-dismissible fade show shadow-sm my-2 mx-0 d-flex align-items-center"
                role="alert"
                data-controller="alert"
                data-alert-autodismiss-value="5000">
                <i class="bi {{ icon }} me-2"></i>
                <div class="flex-grow-1">
                    {{ message }}
                </div>
                <a class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></a>
            </div>
        {% endfor %}
    {% endfor %}
</div>
