{% extends 'base.html.twig' %}

{% block title %}Edit ParticipantRole{% endblock %}

{% block body %}
    <h2>Modifier rôle</h2>

    {{ include('participant_role/_form.html.twig') }}

{% endblock %}
