{% extends 'base.html.twig' %}

{% block title %}Edit ParticipantRole{% endblock %}

{% block body %}
    <h1>Edit ParticipantRole</h1>

    {{ include('participant_role/_form.html.twig') }}

{% endblock %}
