{% extends 'base.html.twig' %}

{% block title %}ParticipantRole index{% endblock %}

{% block body %}
    <h2>Rôles</h2>

    {% include 'components/table/_table.html.twig' with {
        items: participant_roles,
        columns: ['name', 'description', 'internal'],
        headers: ['Nom', 'Description','Interne'],
        filter: true,
        sort: true,
        add: {route: 'app_participant_role_new'},
        actions: [
            {
                route: 'app_participant_role_show',
                param_map: { id: 'id' },
                icon: 'bi-eye',
                label: 'Voir',
            },
            {
                route: 'app_participant_role_edit',
                param_map: { id: 'id' },
                icon: 'bi-pencil',
                label: 'Éditer',
            },
            {
                route: 'app_participant_role_delete',
                param_map: { id: 'id' },
                icon: 'bi-trash',
                label: 'Supprimer',
            }
        ]
    } %}

{% endblock %}
