{% extends 'base.html.twig' %}

{% block title %}New ParticipantRole{% endblock %}

{% block body %}
    <h1>Create new ParticipantRole</h1>

    {{ include('participant_role/_form.html.twig') }}

{% endblock %}
