{% extends 'base.html.twig' %}

{% block title %}ParticipantRole{% endblock %}

{% block body %}
    <h1>ParticipantRole</h1>

    {% include 'components/table/_table_show.html.twig' with {
        object: participant_role,
        fields: [
            { label: 'Nom', property: 'name' },
            { label: 'Description', property: 'description' },
            { label: 'Interne', property: 'internal' }
        ]
    } %}

    {% include 'components/button/_btn_bar.html.twig' with {
        buttons: {
            back: {
                type: 'link',
                route: 'app_participant_role_index',
                icon: 'bi-arrow-left',
                label: 'Retour',
                class: 'btn btn-outline-primary btn-sm'
            }
        }
    } %}
{% endblock %}
