<div class="d-flex flex-wrap gap-4">
    <div class="form-container p-3" style="flex: 1 1 45%;">
        <h5>Général</h5>
        {{ form_row(form.name) }}
        {% if form.description is defined %}
            {{ form_row(form.description) }}
        {% endif %}
    </div>
    <div class="form-container p-3" style="flex: 1 1 45%;">
        <h5>Rôles</h5>
        {% if form.contributor is defined %}
            {{ form_row(form.contributor) }}
        {% endif %}
        {% if form.validator is defined %}
            {{ form_row(form.validator) }}
        {% endif %}
    </div>
</div>
