{# templates/capture/capture_element/_inline_response_form.html.twig #}
{# Expect: element, form (FormView), actionRoute (string), actionParams (array) #}


{{ form_start(form, {
    action: path(actionRoute|default('app_capture_element_respond'), actionParams|default({ id: element.id })),
    attr: {
        class: 'element-inline-form'
    }
}) }}

{% for fieldForm in form.fields %}
    {% include 'capture/field/_field_contributor_form.html.twig' with { fieldForm: fieldForm } %}
{% endfor %}


{% if element.active and element.status.value == 'ready' %}
    <div class="mt-2 d-flex justify-content-end">
        <button type="submit" class="btn btn-primary btn-sm">
            <i class="bi bi-check"></i> Enregistrer
        </button>
    </div>
{% endif %}

{{ form_end(form) }}
