<fieldset class="form-container my-3 p-2 border rounded">
    <div class="row g-3 align-items-end">
        {{ form_row(form.id)}}
        <div class="col-md-3">
            {{ form_row(form.name, { row_attr: { class: 'mb-0' } }) }}
        </div>

        <div class="col-md-7">
            {{ form_row(form.description, { row_attr: { class: 'mb-0' } }) }}
        </div>
        <div class="col-md-1 form-switch">
            {{ form_row(form.active, { row_attr: { class: 'mb-0' } }) }}
        </div>

        <div class="col-auto ms-auto align-self-end">
            <button type="button"
                    class="btn btn-outline-danger btn-sm"
                    data-action="click->capture-template#remove"
                    title="Supprimer cet élément">
                <i class="bi bi-trash"></i>
            </button>
        </div>
    </div>
</fieldset>
