{{ form_start(form) }}
<div class="row justify-content-center">
    <div class="col-12 col-md-8">
        {% for fieldForm in form.fields %}
            {% include 'capture/field/_field_contributor_prototype.html.twig' with { fieldForm: fieldForm } %}
        {% endfor %}
    </div>
</div>


{% if is_granted('ROLE_USER') and not element.capture.template %}
<div class="d-flex justify-content-end gap-2 mt-4">
    {% if templateMode %}
        {% include 'components/button/_btn.html.twig' with {
            btn: {
                type: 'link',
                label: 'Retour',
                param_map: { id: 'element.capture.id' },
                icon: 'bi-arrow-left',
                route: 'app_capture_template_edit',
                class: 'btn btn-outline-primary'
            }
        } %}
    {% else %}
    {% include 'components/button/_btn.html.twig' with {
        btn: {
            type: 'link',
            label: 'Retour',
            param_map: { id: 'element.capture.id' },
            icon: 'bi-arrow-left',
            route: 'app_capture_edit',
            class: 'btn btn-outline-primary'
        }
    } %}
    {% include 'components/button/_btn.html.twig' with {
        btn: {
            type: 'submit',
            label: 'Enregistrer',
            icon: 'bi-check',
            class: 'btn btn-primary'
        }
    } %}
    {% endif %}
</div>
    {% endif %}

{% if is_granted('ROLE_ADMIN') and element.capture.template %}
    {% include 'components/button/_btn_bar.html.twig' with {
        buttons: {
            back: {
                type: 'link',
                label: 'Retour',
                param_map: { id: 'element.capture.id' },
                icon: 'bi-arrow-left',
                route: 'app_capture_template_edit',
                class: 'btn btn-outline-primary'
            },
        }
    } %}
{% endif %}

{{ form_end(form) }}
