{% extends 'base.html.twig' %}

{% block title %}CaptureElement index{% endblock %}

{% block body %}
    <h1>CaptureElement index</h1>

    {% include 'components/table/_table.html.twig' with {
        items: capture_elements,
        columns: ['name', 'description'],
        headers: ['Nom', 'Description'],
        filter: true,
        sort: true,
        add: {route: 'app_capture_element_new'},
        actions: [
            {
                route: 'app_capture_element_show',
                param_map: { id: 'id' },
                icon: 'bi-eye',
                label: 'Voir',
            },
            {
                route: 'app_capture_element_edit',
                param_map: { id: 'id' },
                icon: 'bi-pencil',
                label: 'Editer',
            },
            {
                route: 'app_capture_element_delete',
                param_map: { id: 'id' },
                icon: 'bi-trash',
                label: 'Supprimer',
            }
        ]
    } %}

{% endblock %}
