{% extends 'base.html.twig' %}

{% block title %}CaptureElement index{% endblock %}

{% block body %}
    <h1>CaptureElement index</h1>

    {% include 'components/table/_table.html.twig' with {
        items: capture_elements,
        columns: ['name', 'description'],
        headers: ['Nom', 'Description'],
        filter: true,
        sort: true,
        actions: [
            {
                route: 'app_capture_template_attach_element',
                param_map: { id: 'id' },
                params:{captureId: capture_id},
                icon: 'bi-arrow-right-circle',
                label: 'Sélectionner',
            }
        ]
    } %}

    {% include 'components/button/_btn_bar.html.twig' with {
        buttons: {
            back: {
                type: 'link',
                route: 'app_capture_template_edit',
                param_map: { id: 'capture_id' },
                icon: 'bi-arrow-left',
                label: 'Retour',
                class: 'btn btn-outline-primary btn-sm'
            },
        }
    } %}


{% endblock %}
