{% extends 'base.html.twig' %}

{% block title %}Elément de capture{% endblock %}

{% block body %}
    <h1>Elément de capture</h1>

    {% include 'components/table/_table_show.html.twig' with {
        object: capture_element,
        fields: [
            { label: 'Nom', property: 'name' },
            { label: 'Description', property: 'description' },
            { label: 'Répondant', property: 'respondent.name' },
            { label: 'Responsable', property: 'responsible.name' },
            { label: 'Valideur', property: 'validator.name' },
        ]
    } %}

    <h4>Champs :</h4>
    {% include 'components/table/_table.html.twig' with {
        items: capture_element.fields,
        columns: ['externalConfig.label','internalConfig.label','technicalName'],
        headers: ['Label externe','Label interne','Nom technique'],
        filter: false,
        sort: false,
    } %}

    {% include 'components/button/_btn_bar.html.twig' with {
        buttons: {
            back: {
                type: 'nav-back',
                icon: 'bi-arrow-left',
                label: 'Retour',
                class: 'btn btn-outline-primary btn-sm'
            }
        }
    } %}
{% endblock %}
