{% extends 'base.html.twig' %}

{% block title %}Répondre{% endblock %}

{% block body %}
    <h1>Valider l'élément de capture</h1>

    {% include 'capture/capture_element/_validation_form.html.twig' %}

{% endblock %}




