{#
Context:
 - Prototype: { form: form.captures.vars.prototype }
 - Collection: { captures: form.captures }
#}

{# CAPTURES TABS #}
{% if capture is defined %}

    <div id="capture{{ capture.vars.value ? capture.vars.value.id : (loop is defined ? loop.index : 'new') }}" class="tab-pane fade" role="tabpanel">
        {# CAPTURE ELEMENTS CARDS #}

        <div class="mx-2">
            {% if capture.captureElements is defined %}
                {% for element in capture.captureElements %}
                    <div class="mb-3 row">
                        {% include 'capture_element/_cards.html.twig' with { element: element } %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endif %}
