<fieldset class="mb-3 form-container mt-3 p-2 position-relative border rounded">
  <div class="row g-3 align-items-end">
    <div class="col-md-3">
        {{ form_row(form.name) }}
    </div>
    <div class="col-md">
        {{ form_row(form.description) }}
    </div>

    <div class="col-auto mb-3 d-flex align-items-end">
        <button type="button"
                class="btn btn-outline-danger btn-sm position-absolute top-0 end-0 m-2"
                data-action="click->project#remove"
                title="Supprimer">
            <i class="bi bi-trash"></i>
        </button>
    </div>
  </div>
</fieldset>
