{{ form_start(form) }}
<div class="row align-items-start">
    <div class="col-md-4">
        {% include 'components/form/_ghost_field.html.twig' with {
            field: form.name,
            placeholder: 'Nom…',
            class: 'title-input',
            attrs: { autocomplete: 'off' }
        } %}

        {% include 'components/form/_ghost_field.html.twig' with {
            field: form.description,
            placeholder: 'Description…',
            class: 'subtitle-textarea',
            attrs: { autocomplete: 'off' }
        } %}
    </div>
    <div class="col-md-4">
        {{ form_row(form.responsible) }}
        {{ form_row(form.account) }}
    </div>
    <div class="col-md-4">
        {% include 'components/button/_btn_bar.html.twig' with {
            buttons: {
                preview_render: {
                    type: 'link',
                    route: 'app_capture_render_text_preview',
                    param_map: { id: 'capture.id' },
                    icon: 'bi-pencil',
                    label: 'Aperçu du rendu',
                    class: 'btn btn-outline-primary btn-sm'
                },
                back: {
                    type: 'link',
                    label: 'Retour',
                    icon: 'bi-arrow-left',
                    route: 'app_capture_index',
                    class: 'btn btn-outline-primary'
                },
                save: {
                    type: 'submit',
                    label: 'Enregistrer',
                    icon: 'bi-check',
                    class: 'btn btn-primary'
                }
            }
        } %}
    </div>


    <div
        data-controller="tabs-persist"
        data-tabs-persist-default-tab-value="#capture-elements"
        data-tabs-persist-storage-key-value="captureTabs"
        data-tabs-persist-mode-value="storage"
    >
        <ul class="tabs tabs--primary my-3 nav" role="tablist">
            <li class="tab nav-item" role="presentation">
                <a id="tab-capture-elements" class="tab__link nav-link" data-bs-toggle="tab" href="#capture-elements"
                   role="tab"
                   aria-controls="capture-elements"
                   aria-selected="false">Eléments de capture</a>
            </li>
            <li class="tab nav-item" role="presentation">
                <a id="tab-roles" class="tab__link nav-link" data-bs-toggle="tab" href="#roles" role="tab"
                   aria-controls="roles"
                   aria-selected="true">Rôles</a>
            </li>
        </ul>
    </div>
    <div class="tab-content">
        <div id="capture-elements" class="tab-pane fade" role="tabpanel" aria-labelledby="tab-capture-elements">
            <div class="mx-2 mb-3">
                <div class="sortable-list" data-sortable-order-target="list">
                    {% if capture.captureElements is defined and capture.captureElements|length > 0 %}
                        {% set byTarget = conditionsByTargetId|default({}) %}

                        {% for element in capture.captureElements %}
                            {% set entity = element ?? null %}
                            {% set elementId = entity ? entity.id : null %}
                            {% set incoming = elementId is not null ? (byTarget[elementId] ?? []) : [] %}
                            <div class="mb-3 row">
                                {% include 'capture/capture_element/_prototype_card.html.twig' with {
                                    element: element,
                                    incomingConditions: incoming
                                } %}
                            </div>
                        {% endfor %}
                    {% else %}
                        {# on garde votre message existant (rien ne casse) #}
                        <div class="text-muted small m-3">Aucun élément</div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="roles" class="tab-pane fade" role="tabpanel" aria-labelledby="tab-roles">
            {# {% include 'participant_role/_required_participant_roles.html.twig' with { capture: form.vars.data } %} #}
        </div>
    </div>






