
{% include 'components/button/_btn_bar.html.twig' with {
    buttons: {
        preview_render: {
            type: 'link',
            route: 'app_capture_render_text_preview',
            param_map: { id: 'capture.id' },
            icon: 'bi-pencil',
            label: 'Aperçu du rendu',
            class: 'btn btn-outline-primary btn-sm'
        },
        back: {
            type: 'link',
            route: 'app_capture_index',
            icon: 'bi-arrow-left',
            label: 'Retour',
            class: 'btn btn-outline-primary btn-sm'
        },
        save: {
            type: 'submit',
            icon: 'bi-check',
            label: 'Enregistrer',
            class: 'btn btn-primary btn-sm'
        },
    }
} %}

<ul class="tabs tabs--primary my-3 nav" role="tablist">
    <li class="tab nav-item" role="presentation">
        <a id="tab-capture" class="tab__link nav-link" data-bs-toggle="tab" href="#capture" role="tab" aria-controls="capture"
           aria-selected="false">Capture</a>
    </li>
    <li class="tab nav-item" role="presentation">
        <a id="tab-roles" class="tab__link nav-link" data-bs-toggle="tab" href="#roles" role="tab" aria-controls="roles"
           aria-selected="true">Rôles</a>
    </li>
</ul>

<div class="tab-content">
    <div id="capture" class="tab-pane fade" role="tabpanel" aria-labelledby="tab-capture">
        <div class="mx-2">
            {% if forms is defined %}
                {% for element in forms %}
                    <div class="mb-3 row">
                        {% include 'capture_element/_cards_prototype.html.twig' with { element: element } %}
                    </div>
                {% else %}
                    <div class="text-muted small">Aucun élément</div>
                {% endfor %}
            {% else %}
                <div class="text-muted small">Aucun élément</div>
            {% endif %}
        </div>
    </div>
    <div id="roles" class="tab-pane fade" role="tabpanel" aria-labelledby="tab-roles">
    {# {% include 'participant_role/_required_participant_roles.html.twig' with { capture: form.vars.data } %} #}
    </div>
</div>





