{% extends 'base.html.twig' %}

{% block title %}Edit Capture{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {% include 'capture/_header.html.twig' with { capture: capture, templateMode: templateMode } %}
    <div class="row align-items-start">
        {% include 'capture/_capture_form.html.twig' with { form: form } %}
        <div>
            {% include 'components/button/_btn_bar.html.twig' with {
                buttons: {
                    preview_render: {
                        type: 'link',
                        route: templateMode ? 'app_capture_template_render_text_preview' : 'app_capture_render_text_preview',
                        param_map: { id: 'capture.id' },
                        icon: 'bi-pencil',
                        label: 'Aperçu du rendu',
                        class: 'btn btn-outline-primary btn-sm'
                    },
                    back: {
                        type: 'link',
                        label: 'Retour',
                        icon: 'bi-arrow-left',
                        route: templateMode ? 'app_capture_template_index' : 'app_capture_index',
                        class: 'btn btn-outline-primary'
                    },
                    save: {
                        type: 'submit',
                        label: 'Enregistrer',
                        icon: 'bi-check',
                        class: 'btn btn-primary'
                    }
                }
            } %}
        </div>
    </div>


    <div
        data-controller="tabs-persist"
        data-tabs-persist-default-tab-value="#capture-elements"
        data-tabs-persist-storage-key-value="captureTabs"
        data-tabs-persist-mode-value="storage"
    >
        <ul class="tabs tabs--primary my-3 nav" role="tablist">
            <li class="tab nav-item" role="presentation">
                <a id="tab-capture-elements" class="tab__link nav-link" data-bs-toggle="tab" href="#capture-elements"
                   role="tab"
                   aria-controls="capture-elements"
                   aria-selected="false">Eléments de capture</a>
            </li>
            <li class="tab nav-item" role="presentation">
                <a id="tab-roles" class="tab__link nav-link" data-bs-toggle="tab" href="#roles" role="tab"
                   aria-controls="roles"
                   aria-selected="true">Rôles</a>
            </li>
            {% if capture.template %}
                <li class="tab nav-item" role="presentation">
                    <a id="tab-conditions" class="tab__link nav-link" data-bs-toggle="tab" href="#conditions" role="tab"
                       aria-controls="conditions"
                       aria-selected="true">Conditions</a>
                </li>
                <li class="tab nav-item" role="presentation">
                    <a id="tab-document" class="tab__link nav-link" data-bs-toggle="tab" href="#document" role="tab"
                       aria-controls="document"
                       aria-selected="true">Document</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="tab-content">
        <div id="capture-elements" class="tab-pane fade" role="tabpanel" aria-labelledby="tab-capture-elements">
            <div class="row mx-2 mt-2 px-0 g-0 col-header">
                <div class="col-3">Nom</div>
                <div class="col-3">Contributeur</div>
                <div class="col-3">Validateur</div>
            </div>
            {% include 'capture/_elements_order_panel.html.twig' with {
                capture: capture,
                form: form,
                conditionsByTargetId: conditionsByTargetId,
                templateMode: templateMode
            } %}
        </div>
        <div id="roles" class="tab-pane fade" role="tabpanel" aria-labelledby="tab-roles">
            {% include 'capture/_assignment_panel.html.twig' with { form: form } %}
        </div>
        {% if capture.template %}
            <div id="conditions" class="tab-pane fade" role="tabpanel" aria-labelledby="tab-conditions">
                {% include 'capture/_conditions_panel.html.twig' with { form: form } %}
            </div>
            <div id="document" class="tab-pane fade" role="tabpanel" aria-labelledby="tab-document">
                <div class="mx-2 mb-3">
                    <div class="row g-3 align-items-end">
                        <div class="col">
                            {{ form_row(form.title.content) }}
                        </div>
                        <div class="col-auto">
                            {{ form_row(form.title.level) }}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    {{ form_end(form) }}
{% endblock %}


