{% extends 'base.html.twig' %}

{% block title %}Edit Capture{% endblock %}

{% block body %}
    <h1>Capture : {{ capture.name }}</h1>
    <div class="text-muted">{{ capture.description }}</div>
    {{ include('capture/_form.html.twig') }}

{% endblock %}
