{% extends 'base.html.twig' %}

{% block title %}Capture index{% endblock %}

{% block body %}
    <h2>{{ templateMode ? 'Templates de captures' : 'Captures' }}</h2>

    {% set addRoute = templateMode ? 'app_capture_template_new' : 'app_capture_new' %}
    {% set showRoute = templateMode ? 'app_capture_template_show' : 'app_capture_show' %}
    {% set editRoute = templateMode ? 'app_capture_template_edit' : 'app_capture_edit' %}
    {% set deleteRoute = templateMode ? 'app_capture_template_delete' : 'app_capture_delete' %}

    {% include 'components/table/_table.html.twig' with {
        items: captures,
        columns: templateMode ? ['name', 'description','statusLabel']:['account.name', 'name', 'description','statusLabel'],
        headers: templateMode ? ['Nom','Description','Statut']:['Compte','Nom','Description','Statut'],
        filter: true,
        sort: true,
        add: {route: addRoute},
        actions: [
            {
                route: showRoute,
                param_map: { id: 'id' },
                icon: 'bi-eye',
                label: 'Voir',
            },
            {
                route: editRoute,
                param_map: { id: 'id' },
                icon: 'bi-pencil',
                label: 'Éditer',
            },
            {
                route: deleteRoute,
                param_map: { id: 'id' },
                icon: 'bi-trash',
                label: 'Supprimer',
            }
        ]
    } %}
{% endblock %}
