{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
    <h1>Project index</h1>

    {% include 'components/table/_table.html.twig' with {
        items: projects,
        columns: ['name', 'description','status'],
        headers: ['Nom', 'Description','Statut'],
        filter: true,
        sort: true,
        add: {route: 'app_project_template_select'},
        actions: [
            {
                route: 'app_project_show',
                param_map: { id: 'id' },
                icon: 'bi-eye',
                label: 'Voir',
            },
            {
                route: 'app_project_edit',
                param_map: { id: 'id' },
                icon: 'bi-pencil',
                label: 'Éditer',
            },
            {
                route: 'app_project_delete',
                param_map: { id: 'id' },
                icon: 'bi-trash',
                label: 'Supprimer',
            }
        ]
    } %}
{% endblock %}
