{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
    <h2>{{ templateMode ? 'Templates de projets' : 'Projets' }}</h2>

    {% set addRoute = templateMode ? 'app_project_template_new' : 'app_project_new' %}
    {% set showRoute = 'app_project_show' %}
    {% set editRoute = templateMode ? 'app_project_template_edit' : 'app_project_edit' %}
    {% set deleteRoute = 'app_project_delete' %}

    {% include 'components/table/_table.html.twig' with {
        items: projects,
        columns: templateMode ? ['name', 'description','statusLabel']:['account.name','name', 'responsible.username','statusLabel'],
        headers: templateMode ? ['Nom','Description','Statut']:['Compte','Nom','Responsable','Statut'],
        filter: true,
        sort: true,
        add: {route: addRoute},
        actions: [
            {
                route: showRoute,
                param_map: { id: 'id' },
                icon: 'bi-eye',
                label: 'Voir',
            },
            {
                route: editRoute,
                param_map: { id: 'id' },
                icon: 'bi-pencil',
                label: 'Éditer',
            },
            {
                route: deleteRoute,
                param_map: { id: 'id' },
                icon: 'bi-trash',
                label: 'Supprimer',
            }
        ]
    } %}
{% endblock %}
